In [3]:
import pandas as pd
import numpy as np

In [5]:
flight = pd.read_csv('./Flight Price Prediction/Clean_Dataset.csv', encoding='cp949')
flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

원하는 데이터 선택하기

In [9]:
#원하는 columns
flight[['departure_time','flight','stops','stops','stops']]

       departure_time   flight stops stops stops
0             Evening  SG-8709  zero  zero  zero
1       Early_Morning  SG-8157  zero  zero  zero
2       Early_Morning   I5-764  zero  zero  zero
3             Morning   UK-995  zero  zero  zero
4             Morning   UK-963  zero  zero  zero
...               ...      ...   ...   ...   ...
300148        Morning   UK-822   one   one   one
300149      Afternoon   UK-826   one   one   one
300150  Early_Morning   UK-832   one   one   one
300151  Early_Morning   UK-828   one   one   one
300152        Morning   UK-822   one   one   one

[300153 rows x 5 columns]

In [11]:
#slicing
flight[10:21]

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
10,10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954
12,12,Indigo,6E-5001,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
13,13,Indigo,6E-6202,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.17,1,5955
14,14,Indigo,6E-549,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5955
15,15,Indigo,6E-6278,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
16,16,Air_India,AI-887,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.08,1,5955
17,17,Air_India,AI-665,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
18,18,AirAsia,I5-747,Delhi,Evening,one,Early_Morning,Mumbai,Economy,12.25,1,5949
19,19,AirAsia,I5-747,Delhi,Evening,one,Morning,Mumbai,Economy,16.33,1,5949
20,20,GO_FIRST,G8-266,Delhi,Early_Morning,one,Evening,Mumbai,Economy,11.75,1,5954

In [18]:
#iloc, loc
flight.index = np.arange(100,300253)

In [33]:
flight.loc[[102,202,302], ['airline','flight', 'source_city','departure_time']]

     airline  flight source_city departure_time
102  AirAsia  I5-764       Delhi  Early_Morning
202  Vistara  UK-819       Delhi      Afternoon
302  Vistara  UK-879       Delhi        Evening

In [32]:
flight.iloc[[2,102,202],[1,2,3,4]]

     airline  flight source_city departure_time
102  AirAsia  I5-764       Delhi  Early_Morning
202  Vistara  UK-819       Delhi      Afternoon
302  Vistara  UK-879       Delhi        Evening

In [41]:
#조건 추출
flight_extract = flight[(flight['price'] > 12000) & (flight['airline'] == 'Air_India')]
flight_extract

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
40,40,Air_India,AI-504,Delhi,Night,one,Morning,Mumbai,Economy,11.00,1,12150
41,41,Air_India,AI-502,Delhi,Afternoon,one,Morning,Mumbai,Economy,19.08,1,12150
42,42,Air_India,AI-506,Delhi,Morning,one,Morning,Mumbai,Economy,22.83,1,12150
43,43,Air_India,AI-803,Delhi,Early_Morning,one,Morning,Mumbai,Economy,26.42,1,12150
44,44,Air_India,AI-479,Delhi,Night,one,Afternoon,Mumbai,Economy,17.75,1,12215
...,...,...,...,...,...,...,...,...,...,...,...,...
300143,300143,Air_India,AI-440,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.42,49,51345
300144,300144,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,18.92,49,51345
300145,300145,Air_India,AI-430,Chennai,Morning,one,Morning,Hyderabad,Business,23.08,49,51345
300146,300146,Air_India,AI-440,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.83,49,51345
300147,300147,Air_India,AI-569,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.25,49,68739

In [46]:
price_tag = flight['price'] > 12000
airline_tag = flight['airline'] == 'Air_India'

flight_extract2 = flight[price_tag & airline_tag]
flight_extract2

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
40,40,Air_India,AI-504,Delhi,Night,one,Morning,Mumbai,Economy,11.00,1,12150
41,41,Air_India,AI-502,Delhi,Afternoon,one,Morning,Mumbai,Economy,19.08,1,12150
42,42,Air_India,AI-506,Delhi,Morning,one,Morning,Mumbai,Economy,22.83,1,12150
43,43,Air_India,AI-803,Delhi,Early_Morning,one,Morning,Mumbai,Economy,26.42,1,12150
44,44,Air_India,AI-479,Delhi,Night,one,Afternoon,Mumbai,Economy,17.75,1,12215
...,...,...,...,...,...,...,...,...,...,...,...,...
300143,300143,Air_India,AI-440,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.42,49,51345
300144,300144,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,18.92,49,51345
300145,300145,Air_India,AI-430,Chennai,Morning,one,Morning,Hyderabad,Business,23.08,49,51345
300146,300146,Air_India,AI-440,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.83,49,51345
300147,300147,Air_India,AI-569,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.25,49,68739

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
40,40,Air_India,AI-504,Delhi,Night,one,Morning,Mumbai,Economy,11.00,1,12150
41,41,Air_India,AI-502,Delhi,Afternoon,one,Morning,Mumbai,Economy,19.08,1,12150
42,42,Air_India,AI-506,Delhi,Morning,one,Morning,Mumbai,Economy,22.83,1,12150
43,43,Air_India,AI-803,Delhi,Early_Morning,one,Morning,Mumbai,Economy,26.42,1,12150
44,44,Air_India,AI-479,Delhi,Night,one,Afternoon,Mumbai,Economy,17.75,1,12215
...,...,...,...,...,...,...,...,...,...,...,...,...
300143,300143,Air_India,AI-440,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.42,49,51345
300144,300144,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,18.92,49,51345
300145,300145,Air_India,AI-430,Chennai,Morning,one,Morning,Hyderabad,Business,23.08,49,51345
300146,300146,Air_India,AI-440,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.83,49,51345
300147,300147,Air_India,AI-569,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.25,49,68739