In [1]:
import pandas as pd
import numpy as np

#Concat 연습

In [2]:
df1 = pd.DataFrame({
    'col1' : ['사과','배','감','수박','메론'],
    'col2' : [500, 1000, 2500, 5000, 3000]
}, index = [0,1,2,3,4])
df1

  col1  col2
0   사과   500
1    배  1000
2    감  2500
3   수박  5000
4   메론  3000

In [15]:
df2 = pd.DataFrame({
    'col1' : ['수박','멜론','딸기','키워','오렌지'],
    'col2' : [5000, 3000, 1000, 600, 700],
    'col3' : ['good','good','bad','bad','normal']
}, index = [0,1,2,3,4])
df2

  col1  col2    col3
0   수박  5000    good
1   멜론  3000    good
2   딸기  1000     bad
3   키워   600     bad
4  오렌지   700  normal

In [22]:
pd.concat([df1, df2], join = 'outer', verify_integrity = True)

ValueError: Indexes have overlapping values: Index([0, 1, 2, 3, 4], dtype='int64')

In [ ]:
#merge 연습

In [23]:
customer = pd.DataFrame({
    'customer_id' : np.arange(6),
    'name' : ['세주아니','케이틀린','아리','노틸러스','우디르','말파이트'],
    '나이' : [20, 20, 2000, 500, 600, 900]
})

orders = pd.DataFrame({
    'customer_id' : [1, 1, 2, 2, 2, 3, 3, 1, 4, 9],
    'item' : ['5.5mm 탄', '돋보기', '한복','정기', '남자', '닻', '어항','총열','닭','IPhone 14 Pro'],
    'quantity' : [100, 1, 1, 3, 3, 1, 2, 1, 20, 1]
})

In [44]:
temp = pd.merge(customer, orders, on='customer_id', how='right').groupby('item').aggregate(np.sum)
temp.sort_values(by='quantity', ascending=False)

C:\Users\Hane\AppData\Local\Temp\ipykernel_19496\2928192355.py:1: FutureWarning: The provided callable <function sum at 0x0000027DA426CB80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  temp = pd.merge(customer, orders, on='customer_id', how='right').groupby('item').aggregate(np.sum)

               customer_id  name      나이  quantity
item
5.5mm 탄                  1  케이틀린    20.0       100
닭                        4   우디르   600.0        20
남자                       2    아리  2000.0         3
정기                       2    아리  2000.0         3
어항                       3  노틸러스   500.0         2
IPhone 14 Pro            9     0     0.0         1
닻                        3  노틸러스   500.0         1
돋보기                      1  케이틀린    20.0         1
총열                       1  케이틀린    20.0         1
한복                       2    아리  2000.0         1

In [59]:
temp2 = pd.merge(customer, orders, on='customer_id', how='inner')
temp2 = temp2.groupby(['name','item']).sum()
temp2.loc['아리']

      customer_id    나이  quantity
item
남자              2  2000         3
정기              2  2000         3
한복              2  2000         1

In [62]:
customer = pd.DataFrame({
    'customer_id' : np.arange(6),
    'name' : ['James','Elly','Tom','Givert','Aiden','Brody'],
    '나이' : [40,20,21,30,31,18]
})
orders = pd.DataFrame({
    'customer_id' : [1,1,2,2,2,3,3,1,4,9],
    'item' : ['마우스','충전기','이어폰','헤드셋','전자펜','키보드','전자펜','마우스','키보드','케이스'],
    'quantity' : [1,2,1,1,3,2,2,3,2,1]
})

In [63]:
customer

   customer_id    name  나이
0            0   James  40
1            1    Elly  20
2            2     Tom  21
3            3  Givert  30
4            4   Aiden  31
5            5   Brody  18

In [64]:
orders

   customer_id item  quantity
0            1  마우스         1
1            1  충전기         2
2            2  이어폰         1
3            2  헤드셋         1
4            2  전자펜         3
5            3  키보드         2
6            3  전자펜         2
7            1  마우스         3
8            4  키보드         2
9            9  케이스         1

In [71]:
temp = pd.merge(customer, orders, on='customer_id', how='left')
temp.groupby(by='item').sum()['quantity']

item
마우스    4.0
이어폰    1.0
전자펜    5.0
충전기    2.0
키보드    4.0
헤드셋    1.0
Name: quantity, dtype: float64

In [76]:
temp = pd.merge(customer, orders, on='customer_id', how='inner')
temp.groupby(by = ['name','item']).sum().loc['Elly']

      customer_id  나이  quantity
item
마우스             2  40         4
충전기             1  20         2