In [1]:
import numpy as np
import pandas as pd

In [13]:
pivot_data = pd.DataFrame({
    'cust_id' : ['cust_1','cust_1','cust_1','cust_2','cust_2','cust_2','cust_3','cust_3','cust_3'],
    'prod_cd' : ['p1','p2','p3','p1','p2','p3','p1','p2','p3'],
    'grade' : ['A','A','A','A','A','A','B','B','B'],
    'purch_amt' : [30,10,0,40,15,30,0,0,10]
})
pivot_data

  cust_id prod_cd grade  purch_amt
0  cust_1      p1     A         30
1  cust_1      p2     A         10
2  cust_1      p3     A          0
3  cust_2      p1     A         40
4  cust_2      p2     A         15
5  cust_2      p3     A         30
6  cust_3      p1     B          0
7  cust_3      p2     B          0
8  cust_3      p3     B         10

In [20]:
pivot_data.pivot_table(index = 'prod_cd',columns='cust_id', values='grade',aggfunc=np.sum)

C:\Users\Hane\AppData\Local\Temp\ipykernel_3536\1036266758.py:1: FutureWarning: The provided callable <function sum at 0x00000195CEFECC20> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_data.pivot_table(index = 'prod_cd',columns='cust_id', values='grade',aggfunc=np.sum)

cust_id cust_1 cust_2 cust_3
prod_cd
p1           A      A      B
p2           A      A      B
p3           A      A      B

In [ ]:
#stack/unstack

In [32]:
stack_data = pd.DataFrame({
    'Location' : ['Seoul','Seoul','Seoul','kyounggi','kyounggi','Busan','Seoul','Seoul','Busan','kyounggi','kyounggi','kyounggi'],
    'Day' : ['Mon','Tue','Wed','Mon','Tue','Mon','Thu','Fri','Tue','Wed','Thu','Fri'],
    'Rainfall' : [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    'Rainfall_precipitation' : [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10],
    'Temp' : [32, 27, 32, 31, 30, 28, 27, 25, 26, 33, 34, 31]
})
stack_data

    Location  Day  Rainfall  Rainfall_precipitation  Temp
0      Seoul  Mon       100                      80    32
1      Seoul  Tue        80                      70    27
2      Seoul  Wed      1000                      90    32
3   kyounggi  Mon       200                      10    31
4   kyounggi  Tue       200                      20    30
5      Busan  Mon       100                      30    28
6      Seoul  Thu        50                      50    27
7      Seoul  Fri       100                      90    25
8      Busan  Tue       200                      20    26
9   kyounggi  Wed       100                      80    33
10  kyounggi  Thu        50                      50    34
11  kyounggi  Fri       100                      10    31

In [50]:
stack_data.set_index(['Location','Day']).unstack(1).stack(0)

C:\Users\Hane\AppData\Local\Temp\ipykernel_3536\2406896529.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stack_data.set_index(['Location','Day']).unstack(1).stack(0)

Day                                Fri    Mon   Thu    Tue     Wed
Location
Busan    Rainfall                  NaN  100.0   NaN  200.0     NaN
         Rainfall_precipitation    NaN   30.0   NaN   20.0     NaN
         Temp                      NaN   28.0   NaN   26.0     NaN
Seoul    Rainfall                100.0  100.0  50.0   80.0  1000.0
         Rainfall_precipitation   90.0   80.0  50.0   70.0    90.0
         Temp                     25.0   32.0  27.0   27.0    32.0
kyounggi Rainfall                100.0  200.0  50.0  200.0   100.0
         Rainfall_precipitation   10.0   10.0  50.0   20.0    80.0
         Temp                     31.0   31.0  34.0   30.0    33.0