In [15]:
import numpy as np
import pandas as pd

flight = pd.read_csv('./Flight Price Prediction/Clean_Dataset.csv', encoding='cp949')

In [16]:
flight.head(10)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954

In [17]:
airline_group = flight.groupby('airline')
airline_group

In [18]:
airline_group.count()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
airline,,,,,,,,,,,
AirAsia,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098,16098
Air_India,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892,80892
GO_FIRST,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173,23173
Indigo,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120,43120
SpiceJet,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011,9011
Vistara,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859,127859

In [19]:
airline_group.min()

,Unnamed: 0,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
airline,,,,,,,,,,,
AirAsia,2,I5-1228,Bangalore,Afternoon,one,Afternoon,Bangalore,Economy,0.92,1,1105
Air_India,16,AI-401,Bangalore,Afternoon,one,Afternoon,Bangalore,Business,1.00,1,1526
GO_FIRST,8,G8-101,Bangalore,Afternoon,one,Afternoon,Bangalore,Economy,1.00,1,1105
Indigo,12,6E-102,Bangalore,Afternoon,one,Afternoon,Bangalore,Economy,0.83,1,1105
SpiceJet,0,SG-1031,Bangalore,Afternoon,one,Afternoon,Bangalore,Economy,1.00,1,1106
Vistara,3,UK-613,Bangalore,Afternoon,one,Afternoon,Bangalore,Business,1.00,1,1714

In [26]:
flight_drop = flight.drop(['flight','source_city','departure_time','stops','arrival_time','destination_city','class'], axis=1)
airline_group2 = flight_drop.groupby('airline')
airline_group2.mean()

              Unnamed: 0   duration  days_left         price
airline
AirAsia     95102.971922   8.941714  27.735184   4091.072742
Air_India  162945.107007  15.504235  25.497466  23507.019112
GO_FIRST    87630.797005   8.755380  27.430415   5652.007595
Indigo     110102.972658   5.795197  26.264309   5324.216303
SpiceJet    91878.408834  12.579767  24.122850   6179.278881
Vistara    177755.288310  13.326634  25.894532  30396.536302

In [27]:
airline_group2.mean()[['price']]

                  price
airline
AirAsia     4091.072742
Air_India  23507.019112
GO_FIRST    5652.007595
Indigo      5324.216303
SpiceJet    6179.278881
Vistara    30396.536302

In [29]:
flight_drop = flight.drop(columns=['flight','source_city','departure_time','stops','destination_city','class'], axis=1)
new_df = flight_drop.groupby(['airline','arrival_time']).mean()
new_df

                            Unnamed: 0   duration  days_left         price
airline   arrival_time
AirAsia   Afternoon       88816.983918   7.496335  26.980507   4206.467836
          Early_Morning   99485.108742   9.454591  27.088842   3632.676617
          Evening         80346.891383   8.628675  27.119117   4539.570963
          Late_Night     105201.948725   9.205835  29.071899   3828.437410
          Morning        107012.537642   9.934108  27.857339   3846.900653
          Night           88657.478861   8.740391  27.487202   4320.171700
Air_India Afternoon      162295.572046  15.954563  25.827142  23426.571700
          Early_Morning  138717.490455  17.037971  27.539501  18805.551542
          Evening        166211.387508  15.878056  24.942981  24459.593397
          Late_Night     166665.450239  13.214077  24.301435  28014.163158
          Morning        162496.968910  16.411557  25.655767  22792.180401
          Night          164175.090257  14.230348  25.451735  23683.386323
GO_FIRST  Afternoon       90534.220872   7.510892  27.706789   5511.206937
          Early_Morning   85682.954898  10.148961  27.533457   5537.433272
          Evening         86610.596935   8.284801  27.474795   6022.345547
          Late_Night      90382.433765   7.957369  29.245500   5306.723182
          Morning         84289.646143   9.633676  26.265846   5281.059399
          Night           87864.810293   9.087003  26.971360   5808.054728
Indigo    Afternoon      106570.254921   5.483550  26.018053   5458.553278
          Early_Morning  116218.737879   5.913914  29.270398   4107.122586
          Evening        113633.002071   6.255353  25.200587   5914.292555
          Late_Night     110790.778003   5.652350  27.798553   4989.383792
          Morning         93504.652953   4.389309  26.835436   4558.313037
          Night          114668.999528   6.176535  26.114164   5371.779781
SpiceJet  Afternoon       96337.994076  14.371315  25.279621   7116.303318
          Early_Morning   86212.106796  13.395576  20.773925   5348.022191
          Evening         97825.642908  13.826714  24.349964   7465.200285
          Late_Night     125755.550439   7.612829  23.339912   5911.436404
          Morning         88454.211881  12.866352  24.699010   5777.899010
          Night           87037.019268  11.825869  24.129980   5898.403658
Vistara   Afternoon      176534.776824  12.114402  25.469405  27905.873134
          Early_Morning  178997.086816  15.122223  26.597803  28597.738475
          Evening        178147.125191  13.679788  25.935980  31225.269687
          Late_Night     195942.545350  10.051710  26.937031  29699.180243
          Morning        177197.110088  14.913937  25.788161  30180.664694
          Night          177240.740619  12.191358  25.939596  30773.372570

In [32]:
new_df.loc[['SpiceJet','Vistara']]

                           Unnamed: 0   duration  days_left         price
airline  arrival_time
SpiceJet Afternoon       96337.994076  14.371315  25.279621   7116.303318
         Early_Morning   86212.106796  13.395576  20.773925   5348.022191
         Evening         97825.642908  13.826714  24.349964   7465.200285
         Late_Night     125755.550439   7.612829  23.339912   5911.436404
         Morning         88454.211881  12.866352  24.699010   5777.899010
         Night           87037.019268  11.825869  24.129980   5898.403658
Vistara  Afternoon      176534.776824  12.114402  25.469405  27905.873134
         Early_Morning  178997.086816  15.122223  26.597803  28597.738475
         Evening        178147.125191  13.679788  25.935980  31225.269687
         Late_Night     195942.545350  10.051710  26.937031  29699.180243
         Morning        177197.110088  14.913937  25.788161  30180.664694
         Night          177240.740619  12.191358  25.939596  30773.372570