In [1]:
import numpy as np
import pandas as pd

In [3]:
df_original = pd.read_csv('Flight Price Prediction/Clean_Dataset.csv')
df_original.drop(df_original.columns[0], axis=1, inplace = True)
df_original.head(3)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956

# 쪼개서 새로운 변수 만들기

In [4]:
def split_flight(flight):
    manufacture, model = flight.split('-')
    return manufacture, model

In [7]:
df = df_original.copy()

df['manufacture'], df['model'] = zip(*df['flight'].apply(lambda x : split_flight(x)))

In [22]:
df.head(3)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,manufacture,model
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,SG,8709
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,SG,8157
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,I5,764

# 합쳐서 새로운 변수 만들기

In [25]:
df['route'] = df.apply(lambda x : x['source_city'] + '-' + x['destination_city'], axis=1)

In [28]:
df['dd'] = df.apply(lambda x : str(x['duration']) + '시간' + str(x['days_left']) + '남음', axis=1)
df.head(3)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,manufacture,model,route,dd
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,SG,8709,Delhi-Mumbai,2.17시간1남음
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,SG,8157,Delhi-Mumbai,2.33시간1남음
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,I5,764,Delhi-Mumbai,2.17시간1남음