<a href="https://colab.research.google.com/github/leejunho12316/HonGongMachine/blob/main/group_by%2B%EC%A1%B0%EA%B1%B4_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

df_emp = pd.DataFrame({
    '부서': ['영업', '영업', '인사', '인사', '영업', '인사'],
    '근속연수': [6, 2, 10, 3, 7, 1],
    '성과급': [500, np.nan, 400, np.nan, np.nan, 200]
})
print(df_emp)
print()

map_max = df_emp.groupby('부서')['성과급'].transform('max')
map_min = df_emp.groupby('부서')['성과급'].transform('min')

cond = df_emp['근속연수'] >= 5
df_emp['성과급'] = df_emp['성과급'].fillna(map_max.where(cond))
df_emp['성과급'] = df_emp['성과급'].fillna(map_min)
print(df_emp)

   부서  근속연수    성과급
0  영업     6  500.0
1  영업     2    NaN
2  인사    10  400.0
3  인사     3    NaN
4  영업     7    NaN
5  인사     1  200.0

   부서  근속연수    성과급
0  영업     6  500.0
1  영업     2  500.0
2  인사    10  400.0
3  인사     3  200.0
4  영업     7  500.0
5  인사     1  200.0

In [9]:
df_shop = pd.DataFrame({
    '카테고리': ['전자', '의류', '전자', '의류', '전자', '의류'],
    '재고량': [120, 30, 50, 150, 200, 80],
    '할인율': [0.3, np.nan, 0.1, np.nan, np.nan, 0.05]
})
print(df_shop)
map_max = df_shop.groupby('카테고리')['할인율'].transform('max')
map_min = df_shop.groupby('카테고리')['할인율'].transform('min')

df_shop['할인율'] = df_shop['할인율'].fillna(map_max.where(df_shop['재고량'] >= 100))
df_shop['할인율'] = df_shop['할인율'].fillna(map_min)

print(df_shop)

  카테고리  재고량   할인율
0   전자  120  0.30
1   의류   30   NaN
2   전자   50  0.10
3   의류  150   NaN
4   전자  200   NaN
5   의류   80  0.05
  카테고리  재고량   할인율
0   전자  120  0.30
1   의류   30  0.05
2   전자   50  0.10
3   의류  150  0.05
4   전자  200  0.30
5   의류   80  0.05

In [12]:
df_school = pd.DataFrame({
    '과목': ['수학', '영어', '수학', '영어', '수학', '영어'],
    '참여도': ['상', '하', '하', '상', '상', '하'],
    '점수': [90, np.nan, 60, np.nan, np.nan, 50]
})
print(df_school)

map_max = df_school.groupby('과목')['점수'].transform('max')
map_min = df_school.groupby('과목')['점수'].transform('min')

df_school['점수'] = df_school['점수'].fillna(map_max.where(df_school['참여도'] == '상'))
df_school['점수'] = df_school['점수'].fillna(map_min)
print(df_school)

   과목 참여도    점수
0  수학   상  90.0
1  영어   하   NaN
2  수학   하  60.0
3  영어   상   NaN
4  수학   상   NaN
5  영어   하  50.0
   과목 참여도    점수
0  수학   상  90.0
1  영어   하  50.0
2  수학   하  60.0
3  영어   상  50.0
4  수학   상  90.0
5  영어   하  50.0

In [16]:
df_game = pd.DataFrame({
    '직업': ['전사', '마법사', '전사', '마법사', '전사', '마법사'],
    '레벨': [60, 30, 45, 55, 70, 20],
    '공격력': [300, np.nan, np.nan, 250, np.nan, 100]
})
print(df_game)
print()

map_max = df_game.groupby('직업')['공격력'].transform('max')
map_min = df_game.groupby('직업')['공격력'].transform('min')
df_game['max'] = map_max
df_game['min'] = map_min

cond = df_game['레벨'] >= 50
df_game['공격력'] = df_game['공격력'].fillna(map_max.where(cond))
df_game['공격력'] = df_game['공격력'].fillna(map_min)

print(df_game)

    직업  레벨    공격력
0   전사  60  300.0
1  마법사  30    NaN
2   전사  45    NaN
3  마법사  55  250.0
4   전사  70    NaN
5  마법사  20  100.0

    직업  레벨    공격력    max    min
0   전사  60  300.0  300.0  300.0
1  마법사  30  100.0  250.0  100.0
2   전사  45  300.0  300.0  300.0
3  마법사  55  250.0  250.0  100.0
4   전사  70  300.0  300.0  300.0
5  마법사  20  100.0  250.0  100.0

In [17]:
df_estate = pd.DataFrame({
    '동': ['강남', '서초', '강남', '서초', '강남', '서초'],
    '건축년도': [2015, 2005, 2000, 2020, 2018, 2008],
    '거래가': [20, np.nan, 10, np.nan, np.nan, 12]
})

map_max = df_estate.groupby('동')['거래가'].transform('max')
map_min = df_estate.groupby('동')['거래가'].transform('min')

cond = df_estate['건축년도'] >= 2010
df_estate['거래가'] = df_estate['거래가'].fillna(map_max.where(cond))
df_estate['거래가'] = df_estate['거래가'].fillna(map_min)

print(df_estate)

    동  건축년도   거래가
0  강남  2015  20.0
1  서초  2005  12.0
2  강남  2000  10.0
3  서초  2020  12.0
4  강남  2018  20.0
5  서초  2008  12.0