<a href="https://colab.research.google.com/github/leejunho12316/HonGongMachine/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%8B%A4%EA%B8%B0_PART2_Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0. 데이터 불러오기

In [37]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

#1. EDA

In [4]:
train.head(3)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,34.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,58.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,48.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K

In [5]:
train.shape, test.shape

((29304, 16), (3257, 15))

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
 15  income          29304 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 3.6+ MB

In [11]:
train.describe(include=['O'])

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
count,27642,29304,29304,27636,29304,29304,29304,28767,29304
unique,8,16,7,14,6,5,2,41,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,20451,9449,13466,3683,11845,25022,19578,26240,22263

In [12]:
test.describe(include='object')

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
count,3083,3257,3257,3082,3257,3257,3257,3211
unique,8,16,7,14,6,5,2,37
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,2245,1052,1510,457,1348,2794,2212,2930

In [14]:
train.isnull().sum()

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64

In [15]:
train.value_counts()

id     age   workclass  fnlwgt  education     education.num  marital.status  occupation        relationship   race   sex     capital.gain  capital.loss  hours.per.week  native.country  income
32560  22.0  Private    201490  HS-grad       9              Never-married   Adm-clerical      Own-child      White  Male    0             0             20.0            United-States   <=50K     1
1      82.0  Private    132870  HS-grad       9              Widowed         Exec-managerial   Not-in-family  White  Female  0             4356          18.0            United-States   <=50K     1
4      41.0  Private    264663  Some-college  10             Separated       Prof-specialty    Own-child      White  Female  0             3900          40.0            United-States   <=50K     1
5      34.0  Private    216864  HS-grad       9              Divorced        Other-service     Unmarried      White  Female  0             3770          45.0            United-States   <=50K     1
6      38.0  Private    150601  10th          6              Separated       Adm-clerical      Unmarried      White  Male    0             3770          40.0            United-States   <=50K     1
                                                                                                                                                                                                  ..
19     34.0  Private    203034  Bachelors     13             Separated       Sales             Not-in-family  White  Male    0             2824          50.0            United-States   >50K      1
16     45.0  Private    172822  11th          7              Divorced        Transport-moving  Not-in-family  White  Male    0             2824          76.0            United-States   >50K      1
15     46.0  Private    45363   Prof-school   15             Divorced        Prof-specialty    Not-in-family  White  Male    0             2824          40.0            United-States   >50K      1
13     32.0  Private    136204  Masters       14             Separated       Exec-managerial   Not-in-family  White  Male    0             2824          55.0            United-States   >50K      1
12     52.0  Private    129177  Bachelors     13             Widowed         Other-service     Not-in-family  White  Female  0             2824          20.0            United-States   >50K      1
Name: count, Length: 27096, dtype: int64

#2. 데이터 전처리

In [16]:
#결측치 처리
print('처리 전 : ', train.shape)
print('처리 후 : ', train.dropna().shape)

처리 전 :  (29304, 16)
처리 후 :  (27096, 16)

In [18]:
df = train.dropna(subset = ['workclass', 'native.country'])
df.isnull().sum()

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         6
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
income             0
dtype: int64

In [19]:
print("처리 전: ", train.shape)
print("처리 후: ", train.dropna(axis=1).shape)

처리 전:  (29304, 16)
처리 후:  (29304, 11)

In [22]:
df = train.drop(['workclass','native.country'], axis=1)
df.shape

(29304, 14)

In [40]:
#결측치 채우기
print("변경 전")
print(train.isnull().sum())

value = int(train['age'].mean())
print("평균 : ", value)

train['age'] = train['age'].fillna(value)
test['age'] = test['age'].fillna(value)

print()
print("변경 후")
print(train.isnull().sum())

변경 전
id                    0
age               26047
workclass          1662
fnlwgt                0
education             0
education.num         0
marital.status        0
occupation         1668
relationship          0
race                  0
sex                   0
capital.gain          0
capital.loss          0
hours.per.week       13
native.country      537
income                0
dtype: int64
평균 :  38

변경 후
id                   0
age                  0
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64

In [35]:
train

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,3331,39.0,State-gov,177331,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,4386,0,40.0,United-States,>50K
1,19749,38.0,Private,290661,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40.0,United-States,<=50K
2,1157,44.0,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38.0,United-States,<=50K
3,693,47.0,Private,100313,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1902,40.0,United-States,>50K
4,12522,62.0,Private,195661,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,54.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29299,15999,NaN,Private,47168,10th,6,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40.0,United-States,<=50K
29300,21604,NaN,Local-gov,231793,Doctorate,16,Married-spouse-absent,Prof-specialty,Unmarried,White,Female,0,0,38.0,United-States,<=50K
29301,26839,NaN,Local-gov,201435,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40.0,United-States,<=50K
29302,16681,NaN,Private,137722,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40.0,United-States,<=50K
29303,16069,NaN,Private,406978,Bachelors,13,Never-married,Exec-managerial,Other-relative,White,Female,0,0,40.0,United-States,<=50K

In [43]:
#OH 인코딩 방법1
y_train = train.pop('income')

train_oh = pd.get_dummies(train)
test_oh = pd.get_dummies(test)

print("original shape : ", train.shape, test.shape)
print("oh shape ; ", train_oh.shape, test_oh.shape)

original shape :  (29304, 15) (3257, 15)
oh shape ;  (29304, 106) (3257, 102)

In [44]:
#OH 인코딩 방법2
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

data = pd.concat([train, test], axis=0)
data_oh = pd.get_dummies(data)
train_oh = data_oh.iloc[:len(train), ]
test_oh = data_oh.iloc[len(train):, ]

print(train.shape, test.shape)
print(train_oh.shape, test_oh.shape)

(29304, 16) (3257, 15)
(29304, 108) (3257, 108)

In [50]:
#레이블 인코딩
from sklearn.preprocessing import LabelEncoder

cols = train.select_dtypes(include='object').columns
for col in cols:
  le = LabelEncoder()
  train[col] = le.fit_transform(train[col])
  test[col] = le.transform(test[col])

train.head()

KeyError: 'income'

In [51]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

def get_data():
  train_copy = train.copy()
  test_copy = test.copy()
  return train_copy, test_copy

In [54]:
from sklearn.preprocessing import MinMaxScaler
train_copy, test_copy = get_data()

scaler = MinMaxScaler()

train_copy[cols] = scaler.fit_transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])

ValueError: could not convert string to float: 'State-gov'