<a href="https://colab.research.google.com/github/leejunho12316/HonGongMachine/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_Part1_Gemini_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 1

제시문
'수학교사'가 '김선생'이고 '영어교사'가 '장선생'인 학생들을 필터링하시오.

이 학생들의 '수학', '영어', '국어' 점수를 합산하여 '총점'이라는 새로운 컬럼을 만드시오.

'총점'이 가장 높은 학생의 '이름'을 출력하시오.

In [5]:
import pandas as pd
df = pd.read_csv('school_data.csv')

cond1 = df['수학교사'] == '김선생'
cond2 = df['영어교사'] == '장선생'
df = df[cond1 & cond2]

df['총점'] = df[['수학','영어','국어']].sum(axis=1)

idx = df['총점'].idxmax()
print(df.loc[idx,'이름'])

원숭이

문제 2

제시문
'국어교사'가 '이선생' 또는 '최선생'인 학생들의 데이터를 추출하시오.

추출된 데이터에서 '국어' 점수가 가장 높은 상위 5명의 학생을 찾으시오.

이 5명 학생들의 '영어' 점수 평균을 계산하고, 소수점 둘째 자리까지 반올림하여 출력하시오.

In [9]:
import pandas as pd
df = pd.read_csv('school_data.csv')

cond1 = df['국어교사'] == '이선생'
cond2 = df['국어교사'] == '최선생'
df = df[cond1 | cond2]

df = df.nlargest(5, '국어')

res = df['영어'].mean()
print(round(res, 2))

49.8

문제 3

제시문
각 학생의 '수학교사'를 기준으로 해당 교사가 담당하는 학생들의 '수학' 점수 평균을 계산하고, '수학선생님평균'이라는 새로운 컬럼에 추가하시오. (예: '김선생'이 담당하는 모든 학생의 수학 점수 평균을 '김선생' 학생들의 '수학선생님평균' 컬럼 값으로 넣습니다.)

자신의 '수학' 점수가 자신이 속한 '수학선생님평균' 점수보다 높은 학생은 '상위권', 아닌 경우는 '하위권'으로 분류하는 '수학성취도' 컬럼을 만드시오.

'수학성취도'가 '상위권'인 학생의 수를 계산하여 정수로 출력하시오.

In [25]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df['수학선생님평균'] = df.groupby('수학교사')['수학'].transform('mean')

df['수학성취도'] = df['수학'] > df['수학선생님평균']
df['수학성취도'] = df['수학성취도'].map({True : '상위권', False : '하위권'})

print((df['수학성취도'] == '상위권').sum())

18

문제 4

제시문
'수학교사' 컬럼의 '김선생'을 'Kim', '박선생'을 'Park'으로 변경하시오.

데이터를 재구조화하여 '이름'을 인덱스로, '수학교사'를 컬럼으로, '수학' 점수를 값으로 하는 피벗 테이블(pivot table)을 만드시오.

생성된 피벗 테이블에서 '호랑이' 학생의 'Park' 선생님 반의 점수를 정수로 출력하시오. (결측치가 있다면 0으로 간주합니다.)

In [55]:
import pandas as pd
df = pd.read_csv('school_data.csv')

#df['수학교사'] = df['수학교사'].replace('김선생', 'Kim').replace('박선생', 'Park')
df['수학교사'] = df['수학교사'].replace({'김선생' : 'Kim', '박선생' : 'Park'})

df_pivot = pd.pivot_table(data=df, index = '이름', columns='수학교사', values = '수학')

df_pivot.fillna(0, inplace=True)
res = df_pivot.loc['호랑이', 'Park']

print(int(res))

83

문제 5

제시문
'이름' 컬럼을 식별자(id)로 두고, '수학', '영어', '국어' 점수를 풀어써서 '과목'과 '점수' 컬럼으로 구성된 긴 형태(long format)의 데이터로 변환하시오.

각 '과목'별 '점수'의 평균을 계산하시오.

계산된 평균 점수들을 정수형으로 변환하고, 그중 가장 낮은 평균 점수를 가진 '과목'의 이름을 출력하시오.

In [49]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df_melt = df.melt(id_vars = '이름', value_vars = ['수학','영어','국어'], var_name = '과목', value_name = '점수')

df_melt = df_melt.groupby('과목')['점수'].mean()
df_melt = df_melt.astype(int)

print(df_melt.idxmin())

국어

문제 6
제시문

'국어' 점수가 가장 낮은 5명의 학생 데이터를 찾으시오.

이 5명의 데이터 중, 위에서부터 순서대로 3명의 학생만 정수 인덱싱을 사용하여 선택하시오.

선택된 3명의 '수학' 점수의 합을 정수로 출력하시오.

In [57]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df = df.nsmallest(5,'국어')

df = df.iloc[0:3, :]

res = df['수학'].sum()
print(int(res))

243

문제 7

제시문
'이름' 컬럼의 값 뒤에 '-A반'이라는 문자열을 추가하여 '소속'이라는 새로운 컬럼을 만드시오. (예: '강아지' -> '강아지-A반')

'소속' 컬럼을 '-'를 기준으로 분리하여 첫 번째 값은 '이름', 두 번째 값은 '반'으로 하는 두 개의 새로운 컬럼을 기존 데이터프레임에 추가하시오.

'반' 컬럼의 모든 값을 'B반'으로 변경하고, 가장 마지막 행에 '이름':'전학생', '수학':80, '영어':85, '국어':90, '수학교사':'박선생', '영어교사':'유선생', '국어교사':'최선생', '반':'B반' 정보를 가진 새로운 학생을 추가하시오.

'B반' 학생들의 '국어' 점수 총합을 정수로 출력하시오.

In [133]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df['소속'] = df['이름'] + '-A반'

#df['이름'], df['반'] = df['소속'].str.split('-').str[0], df['소속'].str.split('-').str[1]
df[['이름','반']] = df['소속'].str.split('-', expand=True)

df['반'] = 'B반'

df.loc[len(df)] = {'이름' : '전학생', '수학' : 80, '영어' : 90, '국어' : 90, '수학교사' : '박선생', '영어교사' : '유선생', '국어교사' : '최선생', '반' : 'B반'}

res = df[df['반'] == 'B반']['국어'].sum()
print(int(res))

1455

문제 8

제시문
'영어' 점수가 70점 미만인 학생들의 '영어' 점수를 결측치(NaN)로 처리하시오.

'영어' 점수에 결측치가 있는 행을 모두 제거하시오.

남은 학생들의 '수학', '영어', '국어' 점수의 평균을 계산하여 '평균' 컬럼을 만드시오.

'평균' 점수가 정수인 학생의 수를 계산하여 출력하시오.

In [112]:
import pandas as pd
df = pd.read_csv('school_data.csv')

import numpy as np
cond = df['영어'] < 70
df.loc[cond, '영어'] = np.nan

df.dropna(subset=['영어'], inplace=True)

df['평균'] = df[['수학','영어','국어']].mean(axis=1)

cond = df['평균'] == round(df['평균'], 0)
res = cond.sum()

print(int(res))

3

문제 9

제시문
'수학' 점수가 30점 미만인 학생들의 '수학' 점수를 결측치(NaN)로 만드시오.

각 '수학교사'가 담당하는 학생들의 '수학' 점수 평균을 계산하여, 결측치를 해당 교사의 평균 점수로 채우시오.

결측치를 채운 후, 전체 학생의 '수학' 점수와 '국어' 점수 간의 상관계수를 계산하시오.

계산된 상관계수를 소수점 셋째 자리에서 반올림하여 둘째 자리까지 출력하시오.

In [121]:
import pandas as pd
df = pd.read_csv('school_data.csv')

import numpy as np
cond = df['수학'] < 30
df.loc[cond, '수학'] = np.nan

g = df.groupby('수학교사')['수학'].transform('mean')
df['수학'].fillna(g, inplace=True)

df_corr = df[['수학','국어']].corr()
res = df_corr.iloc[0, 1]
print(round(res, 2))

0.11

/tmp/ipython-input-60094390.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['수학'].fillna(g, inplace=True)

최종 문제

제시문
(데이터 정제) '수학', '영어', '국어' 각 과목에서 20점 미만인 점수를 이상치로 간주하여 결측치(NaN)로 처리하시오.

(결측치 처리) '영어교사'별로 그룹화하여 해당 그룹의 '영어' 과목 평균 점수를 계산하고, 이를 사용해 '영어' 컬럼의 결측치를 채우시오.

(파생 변수 생성 1) 모든 과목의 평균 점수를 계산하여 '평균' 컬럼을 생성하시오. 그 후, '평균' 점수가 65점 이상이면 '통과', 미만이면 '과락'으로 분류하는 '합격여부' 컬럼을 만드시오.

(파생 변수 생성 2) '수학교사' 컬럼의 값에서 '선생'을 제외하고 '김', '박'과 같은 성(last name)만 추출하여 '수학담당'이라는 새로운 컬럼을 만드시오.

(데이터 집계) '수학담당'과 '합격여부'를 기준으로 그룹화하여 각 그룹에 속한 학생들의 '평균' 점수의 평균을 계산하시오.

(결과 제출) 위에서 집계한 결과에서, '김' 선생님이 담당하는 학생들 중 '통과'한 그룹의 평균 점수를 소수점 둘째 자리까지 반올림하여 출력하시오.

In [187]:
import pandas as pd
import numpy as np
df = pd.read_csv('school_data.csv')

df.loc[df['수학'] < 20, '수학'] = np.nan
df.loc[df['영어'] < 20, '영어'] = np.nan
df.loc[df['국어'] < 20, '국어'] = np.nan

m = df.groupby('영어교사')['영어'].transform('mean')
df['영어'].fillna(m, inplace=True)

df['평균'] = df[['수학','영어','국어']].mean(axis=1)
df['합격여부'] = '과락'
df.loc[df['평균'] >= 65, '합격여부'] = '통과'

df['수학담당'] = df['수학교사'].str.replace('선생','')

df = df.groupby(['수학담당','합격여부'])['평균'].mean()

#res = df.unstack().loc['김', '통과']
#print(round(res, 2))
res = df.loc[('김','통과')]
print(round(res, 2))

82.6

/tmp/ipython-input-336538586.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['영어'].fillna(m, inplace=True)

In [185]:
df

수학담당  합격여부
김     과락      52.910714
      통과      82.603175
박     과락      52.755102
      통과      70.833333
Name: 평균, dtype: float64