<a href="https://colab.research.google.com/github/leejunho12316/HonGongMachine/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%8B%A4%EA%B8%B0_Part1_Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 01

In [1]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'type1_data1.csv'

In [ ]:
#문제1
cond = df['f5'] != 0
df2 = df[cond]

#문제2
v_min = df2['views'].min()
df2['views'] = df2['views'].fillna(v_min)

print(df2['views'].median())

5924.0

/tmp/ipython-input-2872252605.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['views'] = df2['views'].fillna(v_min)

# Section 02

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#문제1
df2 = df['subscribed'].value_counts().sort_values(ascending=False)
date = df2.index[0]
print(date)

#문제2
print(int(date[-2:]))

2025-02-17
17

# Section3

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#문제1
df2 = df.dropna(axis=0)

#문제2
df2['Q2'] = df2['views']/df2['f1']

#문제3
Q2_max = df2['Q2'].max()
int(df2[df2['Q2'] == Q2_max].loc[115,'age'])
#int(df2.sort_values(by = 'Q2', ascending=False).iloc[0, 1])

/tmp/ipython-input-3073642203.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Q2'] = df2['views']/df2['f1']

22

#Section 04

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#Q1
df['views'] = df['views'].fillna(0)

#Q2
df = df.sort_values(by='views', ascending=False)
views_10 = df.iloc[9, 9]
print(views_10)

#Q3
df.iloc[0:10, 9] = views_10

#Q4
views_sum = int(df['views'].sum())
print(views_sum)

9877.0
652812

In [ ]:
val = df['views'].nlargest(10).iloc[-1]
print(val)

9877.0

#Section05

In [2]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [6]:
#문제1
cond = df['f4'].str.contains('FJ')
df = df[cond]

r = df['f2'].mean()
print(round(r,2))

#Section6

In [11]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [19]:
cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2

df = df[cond1 & cond2]

var = df['f1'].var()
print(round(var,2))

235.43

#Section07

In [58]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [59]:
df['age'] = df['age'] + 1

cond20 = (df['age']//10 == 2)
mean20 = df[cond20]['views'].mean()

cond30 = (df['age']//10 == 3)
mean30 = df[cond30]['views'].mean()

res = abs(mean20 - mean30)
print(round(res,2))

263.13

#Section 08

In [71]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [72]:
df['subscribed'] = pd.to_datetime(df['subscribed'])

cond1 = df['subscribed'].dt.year == 2024
cond2 = df['subscribed'].dt.month == 2
df = df[cond1 & cond2]

cond3 = df['f3'] == 'gold'

print(len(df[cond3]))

5

#Section 09

In [73]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [81]:
cond = df['views'] <= 1000
df = df[cond]

df['f4'].value_counts().index[0]

'ISFJ'

#Section 10

In [82]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [96]:
df.dropna(axis=0, inplace=True)

df = df.groupby(by='city').mean(numeric_only=True)

df = df['f2'].sort_values(ascending=False)
df.index[0]

'서울'

#Section 11

In [106]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [107]:
df.dropna(axis=0, inplace=True)

end = int(len(df)*0.7)
df = df.head(end)
#df = df.iloc[:end]


Q3, Q1 = df['views'].quantile(0.75), df['views'].quantile(0.25)
print(int(Q3-Q1))

2771

#Section 12

In [154]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [155]:
df.isnull().sum().sort_values(ascending=False)
#f1, f3

df.dropna(subset=['f1'], inplace=True)

df['f3'].fillna(df['f3'].mode()[0], inplace=True)

print(len(df[df['f3'] == 'gold']))

63

/tmp/ipython-input-3142405841.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(df['f3'].mode()[0], inplace=True)

#Section 13

In [156]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [160]:
df = df[df['f1'].isnull()]

print(round(df['age'].mean(), 1))

53.6

#Section 14

In [195]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df.drop_duplicates(inplace=True)

df['f3'].fillna(0, inplace=True)
df['f3'] = df['f3'].replace('silver',1).replace('gold', 2).replace('vip',3)

print(df['f3'].sum())

167

/tmp/ipython-input-4030630626.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(0, inplace=True)
/tmp/ipython-input-4030630626.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace('silver',1).replace('gold', 2).replace('vip',3)

#Section 15

In [224]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df = df.select_dtypes(exclude='object')
df.fillna(0, inplace=True)
df['sum'] = df.sum(axis=1)

res = len(df[df['sum'] > 3000])
print(int(res))

88

#Section 16

In [231]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

Q1, Q3 = df['views'].quantile(0.25), df['views'].quantile(0.75)
IQR = Q3-Q1

cond1 = df['views'] < Q1-IQR*1.5
cond2 = df['views'] > Q3+IQR*1.5
res = df[cond1|cond2]['views'].sum()
print(int(res))

77699

#Section 17

In [284]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

std1 = df['views'].std()

cond_so = (df['age'] != round(df['age'], 0))
cond_min = df['age'] <= 0
df = df[~(cond_so | cond_min)]

std2 = df['views'].std()

res = std1+std2
print(round(res,2))

8297.31

#Section 18

In [289]:
import pandas as pd
df = pd.read_csv('type1_data2.csv', index_col = 'year')

In [299]:
df1 = df.loc[2001, :]
mean = df1.mean()
res1 = len(df1[df1>mean])

df2 = df.loc[2003, :]
mean = df2.mean()
res2 = len(df2[df2<mean])

print(res1 + res2)

202

#Section 19

In [326]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')
df.fillna(method='bfill', inplace=True)
df = df.groupby(by=['city','f2']).sum(numeric_only=True).reset_index()

df.iloc[2, 0]

/tmp/ipython-input-3086904951.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

'경기'

#Section 20

In [340]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month

df = df.groupby(by='month').sum(numeric_only=True)

res = df.sort_values(by='views', ascending=True).index[0]
print(res)

11

#Section 21

In [345]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

cond = df['예상도착시간'] < df['실제도착시간']
df = df[cond]

df = df[df['거리'] >= 7]
print(len(df))

311

#Section 22

In [384]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

df['차이'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60

df = df.groupby(by = '앱종류')['차이'].mean()

res = df.min()
print(int(round(res)))

62

#Section 23

In [415]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['차이'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()

df['지연여부'] = df['차이'] > 0

df.groupby(by=['결제종류'])['지연여부'].mean()

결제종류
앱결제    0.556634
카드     0.489971
현금     0.488304
Name: 지연여부, dtype: float64

#Section 24

In [460]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df_temp = df.groupby(by='user').sum(numeric_only=True)
user_50 = df_temp[df_temp['거리'] >= 50].index

df = df[df['user'].isin(user_50)]['결제종류']

print(df.value_counts()[0])

48

/tmp/ipython-input-4097782634.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.value_counts()[0])

#Section 25

In [477]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df_first = df.groupby('user')['주문시간'].min().reset_index()
df_last = df.groupby('user')['주문시간'].max().reset_index()
df = pd.merge(df_first, df_last, on='user')
df.columns = ['user','첫 주문','마지막 주문']

df['difference'] = (df['마지막 주문'] - df['첫 주문']).dt.days

cond = df['difference'] != 0
mean = df[cond].mean()

cond = df['difference'] > mean
print(len(df[cond]))

146

#Section 26

In [538]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])

df['연-월'] = df['주문시간'].dt.to_period('M')
date = df['연-월'].value_counts().index[0] #2022-09

cond1 = df['연-월'] == date
cond2 = df['앱종류'] == '배고팡'
df = df[cond1 & cond2].value_counts('결제종류')

res = df.loc['앱결제'] / df.sum()
print(round(res, 2))

0.31

In [517]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])

df['year'] = df['주문시간'].dt.year
df['month'] = df['주문시간'].dt.month
df.value_counts(['year','month']) #2022-9

cond1 = df['year'] == 2022
cond2 = df['month'] == 9
df = df[cond1 & cond2]

cond3 = df['앱종류'] == '배고팡'
df = df[cond3]

df = df.value_counts('결제종류')
round(df[1] / df.sum(), 2)

/tmp/ipython-input-1862445245.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(df[1] / df.sum(), 2)

np.float64(0.31)

#Section 27

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')