<a href="https://colab.research.google.com/github/leejunho12316/HonGongMachine/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_Part1_Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 01

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'type1_data1.csv'

In [ ]:
#문제1
cond = df['f5'] != 0
df2 = df[cond]

#문제2
v_min = df2['views'].min()
df2['views'] = df2['views'].fillna(v_min)

print(df2['views'].median())

5924.0

/tmp/ipython-input-2872252605.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['views'] = df2['views'].fillna(v_min)

# Section 02

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#문제1
df2 = df['subscribed'].value_counts().sort_values(ascending=False)
date = df2.index[0]
print(date)

#문제2
print(int(date[-2:]))

2025-02-17
17

# Section3

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#문제1
df2 = df.dropna(axis=0)

#문제2
df2['Q2'] = df2['views']/df2['f1']

#문제3
Q2_max = df2['Q2'].max()
int(df2[df2['Q2'] == Q2_max].loc[115,'age'])
#int(df2.sort_values(by = 'Q2', ascending=False).iloc[0, 1])

/tmp/ipython-input-3073642203.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Q2'] = df2['views']/df2['f1']

22

#Section 04

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#Q1
df['views'] = df['views'].fillna(0)

#Q2
df = df.sort_values(by='views', ascending=False)
views_10 = df.iloc[9, 9]
print(views_10)

#Q3
df.iloc[0:10, 9] = views_10

#Q4
views_sum = int(df['views'].sum())
print(views_sum)

9877.0
652812

In [ ]:
val = df['views'].nlargest(10).iloc[-1]
print(val)

9877.0

#Section05

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
#문제1
cond = df['f4'].str.contains('FJ')
df = df[cond]

r = df['f2'].mean()
print(round(r,2))

#Section6

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2

df = df[cond1 & cond2]

var = df['f1'].var()
print(round(var,2))

235.43

#Section07

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df['age'] = df['age'] + 1

cond20 = (df['age']//10 == 2)
mean20 = df[cond20]['views'].mean()

cond30 = (df['age']//10 == 3)
mean30 = df[cond30]['views'].mean()

res = abs(mean20 - mean30)
print(round(res,2))

263.13

#Section 08

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df['subscribed'] = pd.to_datetime(df['subscribed'])

cond1 = df['subscribed'].dt.year == 2024
cond2 = df['subscribed'].dt.month == 2
df = df[cond1 & cond2]

cond3 = df['f3'] == 'gold'

print(len(df[cond3]))

5

#Section 09

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
cond = df['views'] <= 1000
df = df[cond]

df['f4'].value_counts().index[0]

'ISFJ'

#Section 10

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df.dropna(axis=0, inplace=True)

df = df.groupby(by='city').mean(numeric_only=True)

df = df['f2'].sort_values(ascending=False)
df.index[0]

'서울'

#Section 11

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df.dropna(axis=0, inplace=True)

end = int(len(df)*0.7)
df = df.head(end)
#df = df.iloc[:end]


Q3, Q1 = df['views'].quantile(0.75), df['views'].quantile(0.25)
print(int(Q3-Q1))

2771

#Section 12

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df.isnull().sum().sort_values(ascending=False)
#f1, f3

df.dropna(subset=['f1'], inplace=True)

df['f3'].fillna(df['f3'].mode()[0], inplace=True)

print(len(df[df['f3'] == 'gold']))

63

/tmp/ipython-input-3142405841.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(df['f3'].mode()[0], inplace=True)

#Section 13

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [ ]:
df = df[df['f1'].isnull()]

print(round(df['age'].mean(), 1))

53.6

#Section 14

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df.drop_duplicates(inplace=True)

df['f3'].fillna(0, inplace=True)
df['f3'] = df['f3'].replace('silver',1).replace('gold', 2).replace('vip',3)

print(df['f3'].sum())

167

/tmp/ipython-input-4030630626.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(0, inplace=True)
/tmp/ipython-input-4030630626.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace('silver',1).replace('gold', 2).replace('vip',3)

#Section 15

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df = df.select_dtypes(exclude='object')
df.fillna(0, inplace=True)
df['sum'] = df.sum(axis=1)

res = len(df[df['sum'] > 3000])
print(int(res))

88

#Section 16

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

Q1, Q3 = df['views'].quantile(0.25), df['views'].quantile(0.75)
IQR = Q3-Q1

cond1 = df['views'] < Q1-IQR*1.5
cond2 = df['views'] > Q3+IQR*1.5
res = df[cond1|cond2]['views'].sum()
print(int(res))

77699

#Section 17

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

std1 = df['views'].std()

cond_so = (df['age'] != round(df['age'], 0))
cond_min = df['age'] <= 0
df = df[~(cond_so | cond_min)]

std2 = df['views'].std()

res = std1+std2
print(round(res,2))

8297.31

#Section 18

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data2.csv', index_col = 'year')

In [ ]:
df1 = df.loc[2001, :]
mean = df1.mean()
res1 = len(df1[df1>mean])

df2 = df.loc[2003, :]
mean = df2.mean()
res2 = len(df2[df2<mean])

print(res1 + res2)

202

#Section 19

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')
df.fillna(method='bfill', inplace=True)
df = df.groupby(by=['city','f2']).sum(numeric_only=True).reset_index()

df.iloc[2, 0]

/tmp/ipython-input-3086904951.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

'경기'

#Section 20

In [ ]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month

df = df.groupby(by='month').sum(numeric_only=True)

res = df.sort_values(by='views', ascending=True).index[0]
print(res)

11

#Section 21

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

cond = df['예상도착시간'] < df['실제도착시간']
df = df[cond]

df = df[df['거리'] >= 7]
print(len(df))

311

#Section 22

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

df['차이'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60

df = df.groupby(by = '앱종류')['차이'].mean()

res = df.min()
print(int(round(res)))

62

#Section 23

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
df['차이'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()

df['지연여부'] = df['차이'] > 0

df.groupby(by=['결제종류'])['지연여부'].mean()

결제종류
앱결제    0.556634
카드     0.489971
현금     0.488304
Name: 지연여부, dtype: float64

#Section 24

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df_temp = df.groupby(by='user').sum(numeric_only=True)
user_50 = df_temp[df_temp['거리'] >= 50].index

df = df[df['user'].isin(user_50)]['결제종류']

print(df.value_counts()[0])

48

/tmp/ipython-input-4097782634.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.value_counts()[0])

#Section 25

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df_first = df.groupby('user')['주문시간'].min().reset_index()
df_last = df.groupby('user')['주문시간'].max().reset_index()
df = pd.merge(df_first, df_last, on='user')
df.columns = ['user','첫 주문','마지막 주문']

df['difference'] = (df['마지막 주문'] - df['첫 주문']).dt.days

cond = df['difference'] != 0
mean = df[cond].mean()

cond = df['difference'] > mean
print(len(df[cond]))

146

#Section 26

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])

df['연-월'] = df['주문시간'].dt.to_period('M')
date = df['연-월'].value_counts().index[0] #2022-09

cond1 = df['연-월'] == date
cond2 = df['앱종류'] == '배고팡'
df = df[cond1 & cond2].value_counts('결제종류')

res = df.loc['앱결제'] / df.sum()
print(round(res, 2))

0.31

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])

df['year'] = df['주문시간'].dt.year
df['month'] = df['주문시간'].dt.month
df.value_counts(['year','month']) #2022-9

cond1 = df['year'] == 2022
cond2 = df['month'] == 9
df = df[cond1 & cond2]

cond3 = df['앱종류'] == '배고팡'
df = df[cond3]

df = df.value_counts('결제종류')
round(df[1] / df.sum(), 2)

/tmp/ipython-input-1862445245.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  round(df[1] / df.sum(), 2)

np.float64(0.31)

#Section 27

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

cond = (df['주문시간'].dt.hour >= 10) & (df['주문시간'].dt.hour <13)
df = df[cond]

df['배달시간'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60/60
df['속도'] = df['거리']/df['배달시간']

cond2 = df['속도'] >= 50
len(df[cond2])

1

#Section 28

In [ ]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['연-월'] = df['주문시간'].dt.to_period('M')

#date = df.value_counts('연-월').index[0]
#int(''.join(str(date).split('-')))

df = df.groupby('연-월').size()
res = df.idxmax()

int(str(res).replace('-',''))

202209

#Section 29

In [ ]:
def money(x):
  if x<5: return 2000
  elif x<10: return 4000
  elif x<15 : return 6000
  elif x<20 : return 8000
  else : return 0

import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['배달료'] = df['거리'].apply(lambda x : money(x))

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')

df = df.groupby('주문월')['배달료'].sum()
m = df.idxmax()

print(df[m])

448000

#Section 30

In [24]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['주문시간'] = pd.to_datetime(df['주문시간'])
df['요일'] = df['주문시간'].dt.dayofweek
df['주말여부'] = df['요일'] >= 5

df = df['주말여부'].value_counts()
print(abs(df[0] - df[1]))

412

/tmp/ipython-input-2890669137.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(abs(df[0] - df[1]))

#Section 31

In [44]:
import pandas as pd
df = pd.read_csv('delivery_time.csv')

df['num'] = df['user'].str.split('_').str[1]
#df['num'] = df['num'].apply(lambda x : int(x))
df['num'] = df['num'].astype(int)

print(df['num'].sum())

261387

#Section 32

In [60]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df['총점'] = df[['수학','영어','국어']].sum(axis=1)
#df['총점'] = df['수학'] + df['영어'] + df['국어']

df = df.nlargest(10, '총점')
#df = df.sort_values(by='총점', ascending=False).head(10)

m = df['수학'].mean()
print(round(m))

82

#Section 33

In [70]:
import pandas as pd
df = pd.read_csv('school_data.csv')

df = df.melt(id_vars = ['이름'], value_vars = ['수학','영어','국어'])
print(df['value'].nsmallest(25).sum())

420

#Section 34

In [90]:
import pandas as pd
df = pd.read_csv('school_data.csv')
df_science = pd.read_csv('school_data_science.csv')

df = pd.concat([df, df_science], axis=1)
df['평균'] = df[['수학','영어','국어','과학']].mean(axis=1)

len(df[df['평균'] >= 60])

9

In [86]:
import pandas as pd
df = pd.read_csv('school_data.csv')
df_science = pd.read_csv('school_data_science.csv')

df = pd.merge(df, df_science, on='이름')
df['평균'] = df[['수학','영어','국어','과학']].mean(axis=1)

len(df[df['평균'] >= 60])

9

#Section 35

In [94]:
import pandas as pd
df = pd.read_csv('school_data.csv')
df_science = pd.read_csv('school_data_social.csv')

df = pd.merge(df, df_science, on='이름')

cond1 = df['영어교사'] == '장선생'
cond2 = df['사회교사'] == '오선생'
res = df[cond1 & cond2]['수학'].sum()

print(res)

602

#Section 36

In [129]:
import pandas as pd
df = pd.read_csv('sales.csv')

m = df.groupby('지역코드')['판매금액'].transform('mean')
df['판매금액'] = df['판매금액'].fillna(m)
df['지역평균 판매금액'] = m
df['차이'] = abs(df['판매금액'] - df['지역평균 판매금액'])

df.groupby(['지역코드'])['차이'].mean().idxmax()

np.int64(103)

#Section 37

In [159]:
import pandas as pd
df = pd.read_csv('store_sales.csv')

df['매추랙'] = df['판매수량'] * df['단가']

df['주말여부'] = (df['요일'] == '토') | (df['요일'] == '일')
df = df.groupby(['매장코드','주말여부'])['매추랙'].sum().unstack()

df['차이'] = abs(df[False] - df[True])

df['차이'].max()

241975

#Section 38

In [180]:
import pandas as pd
df = pd.read_csv('region_sales.csv')

df_pivot = df.pivot_table(index=['Region', 'Channel'], columns='Product', values = 'Sales', aggfunc = 'sum')

df_pivot['A_ratio'] = df_pivot['A'] / (df_pivot['A'] + df_pivot['B'])

round(df_pivot['A_ratio'].max(),2)

0.51

#Section 39

In [209]:
import pandas as pd
df = pd.read_csv('monthly_sales.csv')

df = df.melt(id_vars = ['Region'], value_vars=['Jan', 'Feb', 'Mar'])
df = df.groupby(['Region','variable'])['value'].sum()
len(df[df>1400])

6

In [223]:
import pandas as pd
df = pd.read_csv('monthly_sales.csv')

df = pd.melt(df, id_vars=['Region'], value_vars = ['Jan','Feb','Mar'],
             var_name='Month', value_name='Sales')

df.groupby(['Region','Month'])['Sales'].sum()

Region   Month
Busan    Feb      1323
         Jan      1256
         Mar      1371
Daegu    Feb      1365
         Jan      1317
         Mar      1538
Daejeon  Feb      1348
         Jan      1350
         Mar      1400
Incheon  Feb      1444
         Jan      1436
         Mar      1466
Seoul    Feb      1425
         Jan      1385
         Mar      1420
Name: Sales, dtype: int64

In [182]:
df

     Region  Jan  Feb  Mar
0     Seoul  120  135  110
1     Seoul   95  108  145
2     Seoul  200  179  140
3     Seoul  150  155  170
4     Seoul  110   98  190
5     Seoul  130  140  105
6     Seoul   90  115  150
7     Seoul  180  182  160
8     Seoul  140  125  130
9     Seoul  170  188  120
10    Busan   90   92  105
11    Busan   80  100   95
12    Busan  115  130  125
13    Busan  145  155  135
14    Busan  165  148  178
15    Busan  120  135  110
16    Busan   99  101  123
17    Busan  170  185  190
18    Busan  130  127  150
19    Busan  142  150  160
20    Daegu   85  130  150
21    Daegu  108  115  130
22    Daegu  160  170  148
23    Daegu  140  135  190
24    Daegu  180  182  195
25    Daegu   95   88  120
26    Daegu   99  120  140
27    Daegu  150  155  170
28    Daegu  130  105  110
29    Daegu  170  165  185
30  Incheon  132  140  150
31  Incheon  115  110  100
32  Incheon  180  192  155
33  Incheon  155  140  165
34  Incheon  160  170  185
35  Incheon  190  185  195
36  Incheon  145  132  155
37  Incheon  105  100   95
38  Incheon   82   95   88
39  Incheon  172  180  178
40  Daejeon  180  165  170
41  Daejeon  188  190  195
42  Daejeon  100  110   95
43  Daejeon   92   85  100
44  Daejeon  140  145  135
45  Daejeon  150  155  170
46  Daejeon  120  105  115
47  Daejeon  130  135  140
48  Daejeon   95   98  105
49  Daejeon  155  160  175